<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>杭电大学生科技创新孵化器</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="screen-orientation" content="portrait">
  <meta name="full-screen" content="yes">
  <meta name="browsermode" content="application">
  <meta name="x5-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <link href="/public/css/mobile.css" rel="stylesheet">
  <link href="/public/css/swipermobile.css" rel="stylesheet">
  <link rel="icon" href="/public/img/logo.ico">
</head>
<body>
  <section>
    <header id="head">
      <div class="headMain">
        <h1 class="logo">
          <a class="imgdown" href="#javascript">
            <img  style="width:300px;height:60px;" src="/public/img/logo11.png"/>
          </a>
          <a class="imgup" href="#javascript">
            <img  style="width:300px;height:60px;" src="/public/img/logo12.png"/>
          </a>
        </h1>
        <nav>
          <ul class="clearfix">
            <!-- <li>
              <a href="#javascript">
                <div class="up">OJ</div>
                <div class="down">OJ</div>
              </a>
            </li> -->
            <li>
              <a href="#javascript">
                <div class="up">Join</div>
                <div class="down">Join</div>
              </a>
            </li>
            <li>
              <a href="#javascript">
                <div class="up">Glory</div>
                <div class="down">Glory</div>
              </a>
            </li>
            <li>
              <a href="#javascript">
                <div class="up">About</div>
                <div class="down">About</div>
              </a>
            </li>
            <li>
              <a href="#javascript">
                <div class="up">Home</div>
                <div class="down">Home</div>
              </a>
            </li>
          </ul>
        </nav>
        <div class=arrow><img style="width:50px;height:50px;" src="/public/img/arrow.png"></div>
      </div>
    </header>   
    <section id="content">
      <ul class="list">
        <li class="home">
          <div></div>
        </li>
        <li class="About">
          <div>
            <div class="introduction">
              <h1 class="title">孵化器简介</h1>
              <p>2009年，依托于国家级实验教学⽰范中⼼电⼦电⼯实验中⼼、国家级电⼦信息技术虚拟仿真实验中⼼，与美国微芯公司合作，共同成⽴了微芯-杭电⼤学⽣科技创新孵化器。</p><br/>
              <p >孵化器实验室团队有三个目标：孵化创新型⼈才，孵化创新型产品，孵化创新型科技公司。三个孵化，三个创新，是我们这个团队凝聚在⼀起的缘由，也是我们⼀直坚持努⼒的动⼒。</p><br/>
            </div>
            <div id="images">
              <a id="a1" class="num1"></a>
              <a id="a2" class="num2"></a>
              <a id="a3" class="num3"></a>
              <a id="a4" class="num4"></a>
              <a id="a5" class="num5"></a>
              <div id="all-picture">
                <img src="/public/img/load.jpg" >
                <img src="/public/img/load.jpg" >
                <img src="/public/img/load.jpg" >
                <img src="/public/img/load.jpg" >
                <img src="/public/img/load.jpg" >
              </div>
            </div> 
          </div>  
        </li>
        <li class="Glory">
          <div>
            <h1>实验室荣誉</h1>
            <ul class="text">
                <li>全校唯一被授予“全国小平科技创新团队”的实验室（全国50个，浙江省2个）。</li>
                <li>发表科技论文8篇,申请专利十余项</li>
                <li>获电子设计、FPGA创新大赛、数学建模、数模美赛等国家级、国际级竞赛奖项四十余人次,获省级以上竞赛奖项百余人次。</li>
                <li>省新苗4项，国家级大创10余项，院芯苗20余项对外合作项目 3 项。</li>
                <li>多次在互联网+、电商、大小挑等比赛中负责技术指导和技术实现。</li>
            </ul>
            <div id="rewards">
              <div class="item">
                <div class="back"></div>
                <div class="face">小平科技创新团队</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">电赛国一:四轴飞行器</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">数模国一</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">国家级大创项目</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">微芯授牌</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">电赛国一:数字频率计</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">数模美赛F奖</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">国家级大创项目</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">年度明星实验室</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">电赛国二:频谱分析仪</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">数模美赛H奖</div>
              </div>
              <div class="item">
                <div class="back"></div>
                <div class="face">杭州遥临科技有限公司</div>
              </div>             
            </div>
          </div>
        </li>
        <li class="Join">
          <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="/public/img/WX.png" style="width:150px"/>
                </div>
                <div class="content">
                    <h2>微信公众号</h2>
                    <img src="/public/img/WX-QR.png" style="width:180px">
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="/public/img/QQ.jpg" style="width:150px"/>
                </div>
                <div class="content">
                    <h2>2021QQ招新群</h2>
                    <img src="/public/img/QQ-QR.png" style="width:180px">
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                  <img src="/public/img/OJ.jpg" style="width:150px"/>
                </div>
                <div class="content">
                    <a href="http://47.99.66.125:8888">
                        孵化器OJ平台<br>点此进入
                    </a>
                </div>
            </div>
        </div>
        </li>
        <!-- <li class="OJ">
          <div></div>
        </li> -->
      </ul>
    </section>
  <script type="text/javascript" src="/public/js/mobile.js"></script>>
</body>
</html>