#images{
  width: 280px;
  overflow: hidden;
  border-radius: 20px;
  margin:0 auto;
}
#all-picture{
  width: calc(600px * 5);
  animation: switch ease 15s infinite ;z-index: 9;
}
#all-picture img{
  width:280px;float: left;object-fit:cover;
}
#all-picture:hover{animation-play-state: paused;}
@keyframes switch{
  0%,10%{margin-left: 0;}
  20%,30%{margin-left: -280px;}
  40%,50%{margin-left: -560px;}
  60%,70%{margin-left: -840px;}
  80%,90%{margin-left: -1120px;}
  100%{margin-left: 0px;}
  
}
@keyframes picture1{
  0%{margin-left: -1120px;}
  100%{margin-left: 0px;}
}
@keyframes picture2{
  0%{margin-left: 0px;}
  100%{margin-left: -280px}
}
@keyframes picture3{
  0%{margin-left: -280px;}
  100%{margin-left:-560px}
}
@keyframes picture4{
  0%{margin-left: -1120px;}
  100%{margin-left:-840px}
}
@keyframes picture5{
  0%{margin-left: 0px;}
  100%{margin-left:-1120px}
}
#a1:hover ~ #all-picture{animation: picture1 ease 0.5s forwards;}
#a2:hover ~ #all-picture{animation: picture2 ease 0.5s forwards;}
#a3:hover ~ #all-picture{animation: picture3 ease 0.5s forwards;}
#a4:hover ~ #all-picture{animation: picture4 ease 0.5s forwards;}
#a5:hover ~ #all-picture{animation: picture5 ease 0.5s forwards;}
.num1{width: 20%;height: 20px;position: absolute;bottom:0;left: 0px;}
.num2{width: 20%;height: 20px;position: absolute;bottom:0;left: 20%;}
.num3{width: 20%;height: 20px;position: absolute;bottom:0;left: 40%;}
.num4{width: 20%;height: 20px;position: absolute;bottom:0;left: 60%;}
.num5{width: 20%;height: 20px;position: absolute;bottom:0;left: 80%;}
.num1,.num2,.num3,.num4,.num5{text-align: center;line-height: 20px;}	
#images>a:hover{
  background-color:white;
  color: #323232;
  font-size: large;
  font-weight: bolder;
}
#images>a{
  color:white;
  background-color: rgba(32,32,32,0.7);
}
#images>a:hover ~ #all-picture:hover{
  animation-play-state: paused;
}