#images{
  width: 600px;
  height: 420px;
  overflow: hidden;
  position: absolute;
  right:5%;
  top: 10%;
  border-radius: 20px;
  
}
#all-picture{
  height:400px;
  width: calc(600px * 5);
  animation: switch ease 15s infinite ;z-index: 9;
}
#all-picture img{
  width:600px;height: 400px;float: left;
}
#all-picture:hover{animation-play-state: paused;}
@keyframes switch{
  0%,10%{margin-left: 0;}
  20%,30%{margin-left: -600px;}
  40%,50%{margin-left: -1200px;}
  60%,70%{margin-left: -1800px;}
  80%,90%{margin-left: -2400px;}
  100%{margin-left: 0px;}
  
}
@keyframes picture1{
  0%{margin-left: -2400px;}
  100%{margin-left: 0px;}
}
@keyframes picture2{
  0%{margin-left: 0px;}
  100%{margin-left: -600px}
}
@keyframes picture3{
  0%{margin-left: -600px;}
  100%{margin-left:-1200px}
}
@keyframes picture4{
  0%{margin-left: -2400px;}
  100%{margin-left:-1800px}
}
@keyframes picture5{
  0%{margin-left: 0px;}
  100%{margin-left:-2400px}
}
#a1:hover ~ #all-picture{animation: picture1 ease 0.5s forwards;}
#a2:hover ~ #all-picture{animation: picture2 ease 0.5s forwards;}
#a3:hover ~ #all-picture{animation: picture3 ease 0.5s forwards;}
#a4:hover ~ #all-picture{animation: picture4 ease 0.5s forwards;}
#a5:hover ~ #all-picture{animation: picture5 ease 0.5s forwards;}
.num1{width: 120px;height: 20px;position: absolute;top:400px;left: 0px;}
.num2{width: 120px;height: 20px;position: absolute;top:400px;left: 120px;}
.num3{width: 120px;height: 20px;position: absolute;top:400px;left: 240px;}
.num4{width: 120px;height: 20px;position: absolute;top:400px;left: 360px;}
.num5{width: 120px;height: 20px;position: absolute;top:400px;left: 480px;}
.num1,.num2,.num3,.num4,.num5{text-align: center;line-height: 20px;}	
#images>a:hover{
  background-color:white;
  color: #323232;
  font-size: large;
  font-weight: bolder;
}
#images>a{
  color:white;
  background-color: rgba(32,32,32,0.7);
}
#images>a:hover ~ #all-picture:hover{
  animation-play-state: paused;
}